<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Example</title>
</head>
    <body>
        <h1>I am a node application!</h1>
        <div>
            This is an example of a get Request <a href="page2">page2</a>
        </div>
        <br>
        <br>
        <br>
        <div>
            This is an example of a form with a get method
        </div>
        <form action = "getFormExample" method = "GET">
             First Name: <input type = "text" name = "first">  <br>
             Last Name: <input type = "text" name = "last">
             Email: <input type = "text" name = "email">
             <input type = "submit" value = "Submit">
         </form>
        <br>
        <br>
        <br>
         <div>
             This is an example of a form with a post
         </div>
         <form action = "postFormExample" method = "POST">
              First Name: <input type = "text" name = "first">  <br>
              Last Name: <input type = "text" name = "last">
              Email: <input type = "text" name = "email">
              <input type = "submit" value = "Submit">
          </form>
    </body>
</html>
